# Pandas Practice - Part 1

Use this notebook to follow along wit the tasks in the `AO3-Pandas_Part1.ipynb` notebook.

#### Task 1.1: Setup

Import `pandas` as `pd`.

In [1]:
import numpy as np
import pandas as pd

#### Task 2a Create a `pd.Series` object
Use the practice notebook to create a series of your own design.

In [3]:
my_series = pd.Series([2, 4, 13, np.nan, 14, 8])

In [4]:
my_series

0     2.0
1     4.0
2    13.0
3     NaN
4    14.0
5     8.0
dtype: float64

#### Task 2b: Create a pd.DataFrame object from a Python dictionary

In [6]:
df_1 = pd.DataFrame(
    {'alpha': [2, 5, 9, 4],
    'drinks': [23, 23, 34, 45]})

In [7]:
df_1

   alpha  drinks
0      2      23
1      5      23
2      9      34
3      4      45

In [9]:
df_2 = pd.DataFrame(np.random.randn(6, 4))

In [10]:
df_2

          0         1         2         3
0  1.654137  1.524518 -0.996395  0.028597
1  0.415444  0.544210 -1.880135 -0.285022
2 -0.169950 -1.180556  1.232692  1.188300
3  1.079637 -1.196539 -0.682450  0.035109
4 -1.007436 -0.104659  1.739978 -1.091845
5 -1.524658  1.182317 -0.826210 -0.420867

#### Task 2c: Supply indexes and columns when creating a pd.DataFrame object.

#### Task 3a: Download the iris.csv file.
Download the iris data and take a moment to learn about this data from the Wikipedia page cited above

In [11]:
iris_df = pd.read_csv('data/iris.csv')

#### Task 3b: Import the iris.csv file
In your own practice notebook, import the iris dataset.

In [13]:
iris_df = pd.read_csv('data/iris.csv')

#### Task 3c: Import a tab delimited file
Take a look at the `pd.read_csv` online documentation. Describe how you would import a tab-delimited file.

In [14]:
iris_df = pd.read_csv('data/iris.csv')

#### Task 4a: Use head, tail and sample with the iris data frame.

In [16]:
iris_df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [18]:
iris_df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [20]:
iris_df.tail()

     sepal_length  sepal_width  petal_length  petal_width    species
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [22]:
iris_df.tail(4)

     sepal_length  sepal_width  petal_length  petal_width    species
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

In [24]:
iris_df.sample(5)

     sepal_length  sepal_width  petal_length  petal_width     species
32            5.2          4.1           1.5          0.1      setosa
134           6.1          2.6           5.6          1.4   virginica
133           6.3          2.8           5.1          1.5   virginica
136           6.3          3.4           5.6          2.4   virginica
51            6.4          3.2           4.5          1.5  versicolor

#### Task 5a: Display the columns and indexes of the iris data frame.

In [27]:
iris_df.sample(10)

     sepal_length  sepal_width  petal_length  petal_width     species
83            6.0          2.7           5.1          1.6  versicolor
82            5.8          2.7           3.9          1.2  versicolor
25            5.0          3.0           1.6          0.2      setosa
119           6.0          2.2           5.0          1.5   virginica
22            4.6          3.6           1.0          0.2      setosa
149           5.9          3.0           5.1          1.8   virginica
90            5.5          2.6           4.4          1.2  versicolor
2             4.7          3.2           1.3          0.2      setosa
138           6.0          3.0           4.8          1.8   virginica
32            5.2          4.1           1.5          0.1      setosa

In [29]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [33]:
iris_df.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.054000      3.758667     1.198667
std        0.828066     0.433594      1.764420     0.763161
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [35]:
iris_df.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

In [36]:
iris_df.index

RangeIndex(start=0, stop=150, step=1)

#### Task 5b: Check the version of `pandas` you have, then convert a data frame to a numpy array.

In [38]:
pd.__version__

'0.23.4'

In [41]:
my_array = iris_df.values

#### Task 5c: Make selections with `loc`

+ Select a single item with `at`.
+ Select a row slice with `loc`.
+ Select a row and column slice with `loc`.

In [43]:
slength = iris_df['sepal_length']
slength.head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepal_length, dtype: float64

In [45]:
iris_df[0:1]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa

In [46]:
iris_df[0:5]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [47]:
iris_df[0:3]

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

#### Task 5d: Make selections with `iloc` and `iat`.

+ Select a single item with `iat`.
+ Select a row slice with `iloc`.
+ Select a row and column slice with `iloc`.

In [48]:
iris_df.loc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [49]:
iris_df.loc[2:1]

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [52]:
iris_df.loc[2:3]

   sepal_length  sepal_width  petal_length  petal_width species
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa

In [56]:
iris_df.head(2)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa

In [61]:
iris_df.loc['2013-01-01']

KeyError: 'the label [2013-01-01] is not in the [index]'

In [60]:
iris_df.loc['2013-01-01':'2013-01-02']

Empty DataFrame
Columns: [sepal_length, sepal_width, petal_length, petal_width, species]
Index: []

In [63]:
iris_df.loc[4:6, 'sepal_width': 'petal_width']

   sepal_width  petal_length  petal_width
4          3.6           1.4          0.2
5          3.9           1.7          0.4
6          3.4           1.4          0.3

In [64]:
iris_df.loc[[4,6], ['sepal_width', 'petal_width']]

   sepal_width  petal_width
4          3.6          0.2
6          3.4          0.3

In [66]:
iris_df.iloc[0]

sepal_length       5.1
sepal_width        3.5
petal_length       1.4
petal_width        0.2
species         setosa
Name: 0, dtype: object

In [67]:
iris_df.iloc[2:5, :-1]

   sepal_length  sepal_width  petal_length  petal_width
2           4.7          3.2           1.3          0.2
3           4.6          3.1           1.5          0.2
4           5.0          3.6           1.4          0.2

#### Task 5e: Boolean Indexing

Create subsets using boolean indexes that:
+ Use one boolean operator.
+ Use two boolean operators.

In [68]:
df_1

   alpha  drinks
0      2      23
1      5      23
2      9      34
3      4      45

In [69]:
df_1 > 1.0

   alpha  drinks
0   True    True
1   True    True
2   True    True
3   True    True

In [70]:
condition = iris_df['sepal_length'] > 5.8
iris_df[condition].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
54           6.5          2.8           4.6          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor

In [71]:
iris_df[iris_df['sepal_length'] > 5.8].head()

    sepal_length  sepal_width  petal_length  petal_width     species
50           7.0          3.2           4.7          1.4  versicolor
51           6.4          3.2           4.5          1.5  versicolor
52           6.9          3.1           4.9          1.5  versicolor
54           6.5          2.8           4.6          1.5  versicolor
56           6.3          3.3           4.7          1.6  versicolor